canvas {
  max-width: 100%;
  border-radius: 12px;
  background-color: #1e293b;
  padding: 8px;
}

button {
  font-weight: 500;
}

h3, h4 {
  letter-spacing: 0.3px;
}
.transcript-box {
  max-height: 10em;
  overflow-y: auto;
  padding-right: 0.5rem; /* para que la barra no corte el texto */
}
